<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Welcome {{firstName}} {{lastName}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/custom.css" rel="stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>-->

    </head>
    <body ng-app="" ng-controller="personController" ng-model="mustHide">
             <div class=" icon-bar">
                <ul>
                    <li class="icon chat-icon" ng-click="angularJsAjax(0)"><a>Chat</a></li>
                    <li class="icon calendar-icon" ng-click="angularJsAjax(1)"><a>Calendar</a></li>
                    <li class="icon todo-icon" ng-click="angularJsAjax(2)"><a>ToDo List</a></li>
                    <li class="icon document-icon" ng-click="angularJsAjax(3)"><a>Document</a></li>
                    <li class="icon assignment-icon" ng-click="angularJsAjax(4)"><a>Assignment</a></li>
                    <li class="icon group-icon" ng-click="angularJsAjax(5)"><a>Groups</a></li>
                </ul>
            </div>
        <div class="panel panel-primary no-radius full-screen">
    <div class="panel-heading no-radius main-heading">
        <h1 class="panel-title">Workspace Warrior</h1>
    </div>




            <div class="row">
                <div class="col-sm-5 col-sm-offset-1" ng-bind-html="angularOutput"></div>
            </div>
        </div>

        <script>

                    function personController($scope, $http, $sce) {
                        $scope.mustHide = true;

                        $scope.fullName = function () {
                            return $scope.firstName + " " + $scope.lastName;
                        };
                        
                        $scope.remove = function () {
                            
                            
                        };

                        $scope.angularJsAjax = function (index) {
                            var url;

                            switch (index) {
                                case 5:
                                    console.log("Case 5");
                                    url = "../jsp/groups.jsp";
                                    break;
                                default :
                                    url = "../jsp/angularAjax.jsp";
                                    break;
                            }


                            $http.get(url)
                                    .success(function (response) {
                                        $scope.angularOutput = response;
                                        $scope.angularOutput = $sce.trustAsHtml($scope.angularOutput);
                                    });
                            $scope.mustHide = false;
                        };
                    }

        </script>



    </body>
</html>
