<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Welcome {{firstName}} {{lastName}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/fullcalendar.min.css" rel="stylesheet">
        <link href="../css/fullcalendar.print.css" rel="stylesheet">
        <link href="../css/custom.css" rel="stylesheet">
        <link href="../css/chat.css" rel="stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.7/fullcalendar.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/chat.js"></script>





        <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>-->

    </head>
    <body ng-app="workspaces" ng-controller="personController" ng-model="mustHide">
        <div class=" icon-bar">
            <ul>
                <li class="icon chat-icon" ng-click="angularJsAjax(0)"><a>Chat</a></li>
                <li class="icon calendar-icon" ng-click="angularJsAjax(1)"><a>Calendar</a></li>
                <li class="icon todo-icon" ng-click="angularJsAjax(2)"><a>ToDo List</a></li>
                <li class="icon document-icon" ng-click="angularJsAjax(3)"><a>Document</a></li>
                <li class="icon assignment-icon" ng-click="angularJsAjax(4)"><a>Assignment</a></li>
                <li class="icon group-icon" ng-click="angularJsAjax(5)"><a>Groups</a></li>
            </ul>
        </div>
        <div class="panel panel-primary no-radius full-screen">
            <div class="panel-heading no-radius main-heading">
                <h1 class="panel-title">Workspace Warrior</h1>
            </div>




            <div class="row workspaceWindow">
                <div ng-hide="mustHide"  class="col-sm-5 col-sm-offset-1" ng-bind-html="angularOutput"></div>
                <div ng-hide="groupsHide"  class="col-sm-5 col-sm-offset-1" ng-bind-html="groupOutput"></div>
                <div ng-hide="chatHide"  class="" ng-bind-html="chatOutput"></div>
                <div ng-hide="todoHide"  class="col-sm-5 col-sm-offset-1" ng-bind-html="todoOutput"></div>
                <div  id='calendar' ng-hide="calendarHide" class="col-xs-12 col-sm-6 col-sm-offset-1"></div>


                


            </div>
        </div>

        <script>
                    $(document).ready(function () {

                        // page is now ready, initialize the calendar...

                        $('#calendar').fullCalendar({
                        });

                        $(document).on('click', '.removePanel', function () {
                            $(this).closest(".panel").hide();
                        });
                        
                        
                        $(document).on('click', '#myModal .member', function () {
                           $(this).toggleClass( "bg-success" );
                        });

                        $(document).on('click', '.todo-panel input', function () {
                           $(this).closest("span").hide();
                        });
                        
                        
                       

                    });





        </script>

    </body>
</html>
